/* App.css */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  margin:0;
  padding: 0;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 80px;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 60px;
  margin: 4px 0 32px -2px;
  line-height: 100%;
}

.section-title {
  text-align: center;
  margin: 0 0 64px 0;
}

h3 {
  font-family: "Poppins", serif;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

p {
  font-family: "Poppins", serif;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  margin:0;
}


/* Tablet and Desktop */
@media (min-width: 667px) {
  .tech-skills {
    font-size: 30px;
  }
}

