.footer-section {
  margin: 24px 16px 64px 16px;
}

/* Tablet */
@media (min-width: 667px) and (max-width: 1023px) {
  .footer-section {
    margin: 24px 24px 128px 24px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .footer-container {
    max-width: 250px;
    margin: 0 auto;
  }

  .footer-title {
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }

  .social-icons-center {
    justify-content: center;
  }
}
