/* TechSection.css */

.tech-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 64px 24px 128px 24px;
}

.tech-info {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

/* Tablet and Desktop */
@media (min-width: 667px) {
  .tech-info {
    max-width: 800px;
  }
}
