.tech-section {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto 0;
  background-color: rgb(186, 163, 209);
}

.tech-info {
  text-align:center;
  max-width: 600px;
}

